.alert.alert-warning.alert-dismissable
  %button{type: "button", class: "close", data: {dismiss: "alert"}}
    %span{aria: {hidden: "true"}} &times;
  %h2 Sorry, something went horribly wrong!!
  %h3 Want to give it another try?