#message
%form{action: "/send_message", method: "post", id: "send_message", role: "form"}
  .form-group
    %label{for: "subreddit"} Subreddit to send message from:
    %input{name: "subreddit", type: "text", class: "form-control"}
  .form-group
    %label{for: "phone_number"} Phone number to send the message to:
    %input{name: 'phone_number', type: "text", class: "form-control"}
  %br
  %input{type: "submit", class: 'btn btn-default'}/