!!!
%html
  %head
    %title Send a message from Reddit!!
    %script{:type => 'text/javascript', :src => '/javascripts/jquery-1.11.1.min.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/form.js'}
  %body
    #wrapper
      #header
        %h1 Send a message from Reddit
      #content
        =yield
