.alert.alert-success.alert-dismissable
  %button{type: "button", class: "close", data: {dismiss: "alert"}}
    %span{aria: {hidden: "true"}} &times;
  %h2 Great Job!
  %h3="You have successfully sent a message to #{@phone_number} from the #{@subreddit} subreddit"